@using Encuentrame.Web
@using Encuentrame.Web.Helpers
@using Encuentrame.Web.Helpers.DataTable
@using Encuentrame.Web.Models.Accounts

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Translations.ManageUserListTitle;
}

@section scripts
{
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/form")
}

<h2 class="page-header">@ViewBag.Title</h2>
@Html.SuccessSummary()
@Html.ActionLink(Translations.Create, "Create", new { }, new { @class = "btn btn-primary" })

<div class="table-container">
    @( Html.BuildTable<UserListModel>(Url.Action("GetItems", "ManageUser"))
           .AddColumn(x => x.Id)
           .AddColumn(x => x.User)
           .AddColumn(x => x.FullName)
           .AddColumn(x => x.Email)
           .AddColumn(x => x.InternalNumber)
           .AddColumn(x => x.PhoneNumber)
           .AddColumn(x => x.Role, x => x.Name)           
           .AddColumn("Actions", dataTemplate: "actionsTemplate")
           .AddFilter(x => x.User)
           .AddFilter(x => x.FullName)
           .AddFilter(x => x.Email)
           .AddFilter(x => x.InternalNumber)
           .AddFilter(x => x.PhoneNumber)
           .AddFilter(x => x.Role, x => x.Id, Url.Action("GetRoles", "ReferenceItems"))
           .Build()
    )
</div>

<script id="actionsTemplate" type="text/template">
    <a class="btn btn-info btn-xs" href="@Url.Action("Details")/<%=row.Id%>">Detalle</a>
    <a class="btn btn-primary btn-xs" href="@Url.Action("Edit")/<%=row.Id%>">Editar</a>
</script>
