@using Encuentrame.Model.Accounts
@using Encuentrame.Web
@using Encuentrame.Web.Helpers
@model Encuentrame.Web.Models.Events.EventModel
@Html.ErrorSummary()


@using (Html.BeginEditSection(Translations.Data))
{
    <div class="row">
        <div class="col-md-4">@Html.EditorFor(m => m.Name)</div>
        @if (AuthorizationHelper.Validate(RoleEnum.Administrator))
        {
            <div class="col-md-4">@Html.EditorFor(m => m.Organizer)</div>
        }
        @if (Model.Id>0)
        {
            <div class="col-md-4">@Html.DisplayFor(m => m.Status)</div>
        }
    </div>
    <div class="row">
        <div class="col-md-6">@Html.EditorFor(m => m.BeginDateTime)</div>
        <div class="col-md-6">@Html.EditorFor(m => m.EndDateTime)</div>
    </div>
}


@using (Html.BeginEditSection(Translations.SectionBasicData))
{
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">@Html.EditorFor(m => m.Latitude)</div>
                <div class="col-md-4">@Html.EditorFor(m => m.Longitude)</div>
                <div  class="col-lg-offset-2 col-md-2 margin-top-l">
                    <button id="geocoder" type="button" class="btn btn-default">@Translations.GeoPosition</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">@Html.EditorFor(m => m.Street)</div>
                <div class="col-md-4">@Html.EditorFor(m => m.Number)</div>
            </div>
            <div class="row">
                <div class="col-md-6">@Html.EditorFor(m => m.City)</div>
                <div class="col-md-6">@Html.EditorFor(m => m.Province)</div>
            </div>
            <div class="row">
                <div class="col-md-3">@Html.EditorFor(m => m.FloorAndDepartament)</div>
                <div class="col-md-3">@Html.EditorFor(m => m.Zip)</div>
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="map-container" id="mapContainer" data-icon-event="@Url.Content("~/images/maps/MapMarker_Flag.png")"  style="position: relative; width: 100%; height: 288px; overflow: hidden"></div>
        </div>
    </div>
   
           
}


