
@using Encuentrame.Web
@using Encuentrame.Web.Helpers
@using Encuentrame.Support
@model Encuentrame.Web.Models.Events.EventModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Translations.ManageEventDetailsTitle;
}

@section scripts
{
    @Scripts.Render("~/bundles/modals")

}

<h2 class="page-header">@ViewBag.Title</h2>

@using (Html.BeginEditSection(Translations.Data))
{
    <div class="row">
        <div class="col-md-6">@Html.DisplayFor(m => m.Name)</div>
    </div>
    <div class="row">
        <div class="col-md-6">@Html.DisplayFor(m => m.BeginDateTime)</div>
        <div class="col-md-6">@Html.DisplayFor(m => m.EndDateTime)</div>
    </div>
}


@using (Html.BeginEditSection(Translations.SectionBasicData))
{
    <div class="row">
        <div class="col-md-5">@Html.DisplayFor(m => m.Latitude)</div>
        <div class="col-md-5">@Html.DisplayFor(m => m.Longitude)</div>
    </div>
    <div class="row">
        <div class="col-md-6">@Html.DisplayFor(m => m.Street)</div>
        <div class="col-md-2">@Html.DisplayFor(m => m.Number)</div>
        <div class="col-md-2">@Html.DisplayFor(m => m.FloorAndDepartament)</div>
        <div class="col-md-2">@Html.DisplayFor(m => m.Zip)</div>
    </div>
    <div class="row">
        <div class="col-md-6">@Html.DisplayFor(m => m.City)</div>
        <div class="col-md-6">@Html.DisplayFor(m => m.Province)</div>
    </div>
}



   
<form method="POST" action="@Url.Action("Delete", new {id = Model.Id})">
    <button type="button" class="btn btn-danger  btn-submit" data-toggle="modal" data-target=".modal-message-before-submit-sm"
            data-modal-ok="@Translations.Delete" data-modal-title="@Translations.Delete" data-modal-message="@Translations.DeleteMessage.FormatWith(Model.Name)">
        @Translations.Delete
    </button>
    @Html.ActionLink(Translations.Edit, "Edit", new { Id = Model.Id }, new { @class = "btn btn-primary", role = "button" })

    @Html.ActionLink(Translations.GoBack, "Index", new { }, new { @class = "btn btn-link", role = "button" })
</form>

@Html.Partial("_modalMessageBeforeSubmit")