@using System.Configuration
@using Encuentrame.Web
@model Encuentrame.Web.Models.Events.EventModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Translations.ManageEventCreateTitle;
}
@section scripts
{
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=@ConfigurationManager.AppSettings["GoogleMapsKey"]&callback=initMap">
        
    </script>
    <script src="@Scripts.Url(@"~/scripts/app/controllers/manageEvents/manageEvent.js")" type="text/javascript"></script>
   
    @Scripts.Render("~/bundles/form")
}
<h2 class="page-header">@ViewBag.Title</h2>

<form method="POST" action="@Url.Action("Create")">
    @Html.Partial("_form", Model)
    <button type="submit" class="btn btn-primary">@Translations.Create</button>
    @Html.ActionLink(Translations.GoBack, "Index", new { }, new { @class = "btn btn-link" })
</form>

