@using Encuentrame.Web
@model Encuentrame.Web.Models.Accounts.UserModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Translations.ManageAdministratorUserCreateTitle;
}
@section scripts
{
    @Scripts.Render("~/bundles/form")
}
<h2 class="page-header">@ViewBag.Title</h2>

<form method="POST" action="@Url.Action("Create")">
    @Html.Partial("_form", Model)
    <button type="submit" class="btn btn-primary">@Translations.Create</button>
    @Html.ActionLink(Translations.GoBack, "Index", new { }, new { @class = "btn btn-link" })
</form>

