@using Encuentrame.Web
@model Encuentrame.Web.Models.Accounts.RoleModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Translations.ManageRoleEditTitle;
}
@section scripts
{
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/treeview")
}
<h2 class="page-header">@ViewBag.Title</h2>

<form method="POST" action="@Url.Action("Edit", new {id = Model.Id})">
    @Html.Partial("_form", Model)

    <button type="submit" class="btn btn-primary">@Translations.Save</button>
    @Html.ActionLink(Translations.GoBack, "Index", new {}, new {@class = "btn btn-link"})
</form>

