@inherits Encuentrame.Support.Email.Templates.BaseTemplate

<html>
<head>
    <title>@Model.ObjectTypeCreated fue actualizado.</title>
</head>
<body>
    <h2>El usuario @Model.UserName actualizo @Model.ObjectTypeCreated [Id = @Model.Id]: @Model.Description</h2>
</body>
</html>