@inherits Encuentrame.Support.Email.Templates.BaseTemplate

<html>
<head>
    <title>@Model.ObjectTypeCreated fue eliminado.</title>
</head>
<body>
    <h2>El usuario @Model.UserName elimino @Model.ObjectTypeCreated [Id = @Model.Id]: @Model.Description</h2>
</body>
</html>