@using Encuentrame.Web
@using Encuentrame.Support
@{
    ViewBag.Title = Translations.HomeTitle; ;
}
@section scripts
{

    <script src="@Scripts.Url(@"~/scripts/Chart.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(@"~/scripts/app/controllers/Homes/Dashboard.js")" type="text/javascript"></script>
}


<div class="row margin-top-l">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="glyphicon glyphicon-tasks big-icon" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">58%</div>
                        <div>Ordenes finalizadas hoy</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Home")">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="glyphicon glyphicon-calendar big-icon" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-9 text-right">

                        <div class="big">
                            From: <strong>@SystemDateTime.Now.ToShortDateString()</strong>
                        </div>
                        <div class="big">
                            To: <strong>@SystemDateTime.Now.ToShortDateString()</strong>
                        </div>
                        <div>Current performance cycle</div>

                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Home")">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="glyphicon glyphicon-calendar big-icon" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-9 text-right">

                        <div class="big">
                            From: <strong>@SystemDateTime.Now.ToShortDateString()</strong>
                        </div>
                        <div class="big">
                            To: <strong>@SystemDateTime.Now.ToShortDateString()</strong>
                        </div>
                        <div>Current performance cycle</div>

                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Home")">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="glyphicon glyphicon-calendar big-icon" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-9 text-right">

                        <div class="big">
                            From: <strong>@SystemDateTime.Now.ToShortDateString()</strong>
                        </div>
                        <div class="big">
                            To: <strong>@SystemDateTime.Now.ToShortDateString()</strong>
                        </div>
                        <div>Current performance cycle</div>

                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Home")">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Linea title</h3>
            </div>
            <div class="panel-body">
                <canvas id="lineChart" class="chart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Pie title</h3>
            </div>
            <div class="panel-body">
                <canvas id="pieChart" class="chart"></canvas>
                <div id="pieLegend" class="pie-chart-legend"></div>
            </div>
        </div>
    </div>
</div>

