@using Encuentrame.Web
@using Encuentrame.Web.Helpers
@model Encuentrame.Web.Models.Accounts.LoginChangeModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Translations.ChangePasswordTitle;
}

@section scripts
{
    @Scripts.Render("~/bundles/form")
}
@Html.ErrorSummary()
<h2 class="page-header">@ViewBag.Title</h2>
<form method="POST" action="@Url.Action("ChangePassword", new {})">
    <div class="row">
        <div class=" col-md-4">
            @using (Html.BeginEditSection())
            {
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">@Html.EditorFor(m => m.OldPassword)</div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">@Html.EditorFor(m => m.NewPassword)</div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">@Html.EditorFor(m => m.RepeatPassword)</div>
                </div>
            }

        </div>
    </div>

        <button type="submit" class="btn btn-primary">@Translations.Save</button>
    @Html.ActionLink(Translations.GoBack, "UserProfile", new {}, new {@class = "btn btn-link"})

</form>
