@using Encuentrame.Web
@using Encuentrame.Support
@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Translations.ErrorTitle;
}


<h2 class="page-header">@ViewBag.Title</h2>
<h2>@Translations.ErrorSubTitle</h2>
<p class="bg-info">
    <b>@Translations.ErrorRoute:</b>
    @Model.ControllerName <b>/</b> @Model.ActionName
</p>
<p class="bg-danger">
    <b>@Translations.ErrorException:</b> @Model.Exception.Message
</p>
<p class="bg-info">
    <pre>@Model.Exception.StackTrace</pre>
</p>

<p>@Html.ActionLink(Translations.HomeMenu, "Index", "Home", new { }, new { @class = "btn btn-danger" })</p>